.hero-section {
  position: relative;
  margin-bottom: 10rem;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content img {
  width: 100%;
  height: auto;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-popup {
  position: absolute;
  right: 30px;
  padding: 30px;
  width: 550px;
  top: 65px;
  background: #9aa969;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3px;
}
.modal-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0;
}
.modal-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.pop-btn {
  background: #283618;
  border: none;
  color: #ffffff;
  padding: 12px 50px;
  font-size: 16px;
  cursor: pointer;
  margin: 2rem 0;
  display: block;
  text-align: center;
}

.pop-btn:hover {
  background: #1e2e13;
}

.hero-cards {
  position: absolute;
  bottom: -90px;
  margin-left: 40px;
  width: 100%;
  max-width: 850px;
  display: flex;
  gap: 45px;
}

.hero-card {
  position: relative;
  background: #ffffff;
  padding: 10px;
  z-index: 4;

  width: 350px;
  height: 180px;
  margin: 0 auto;
  border-radius: 10px;

  border-width: 1px;
  border-radius: 25px;

  background: linear-gradient(
    116.15deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(183, 195, 140, 0.7) 74.79%
  );
}

.card-image {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2%;
  margin: 0;
  color: #283618;
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
}
.card-amount {
  margin: 0;

  font-weight: 600;
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #7c8f3e;
}

.card-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2%;
  text-decoration: line-through;
  color: #899b51;
}

.scroll-to-footer {
  position: absolute;
  bottom: 50px;
  right: 110px;
  background: none;
  color: black;
  border: 1px solid #1e1e1e;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  bottom: 30px;
  right: 20px;
}
.scroll-to-footer img {
  width: 10px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .hero-popup {
    right: 50px;
    width: 400px;
  }
  .pop-btn {
    margin: 2rem auto;
  }
  .hero-cards {
    margin-left: 0;
  }

  .scroll-to-footer {
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .hero-popup {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    top: 20px;
  }

  .hero-content img {
    max-height: 500px;
  }

  .hero-cards {
    display: none;
  }
  .modal-text {
    font-size: 20px;
}
  .modal-title {
    font-size: 32px !important;
  line-height: 48px !important;
  margin: 0 !important;
  padding: 1rem 0
  }
  .scroll-to-footer {
    bottom: 30px;
    right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero-popup {
    width: 90%;
    padding: 15px;
  }

  .hero-content img {
    max-height: 400px;
  }

  .pop-btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}
